.home-page {
  display: grid;
}
.item1 {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 30px;
}

.item2 {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
}

.logo {
  border-radius: 12px;
}
